// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$desktop: 992px;

// Colores
$primario: #84d9bc;
$secundario: #313c4e; 
$secundarioOpacity: rgb( 57 70 89 / .7 );
$negro: #000;
$blanco: #FFFFFF;
